<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/thema.asp" responseMode="ExecuteURL" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/thema.asp" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="100" />
			<error statusCode="500" subStatusCode="100" prefixLanguageFilePath="" path="/hata500100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" maxUrl="8192" maxQueryString="40960" />
            </requestFiltering>
        </security>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".imza" mimeType="application/octet-stream" />
            <clientCache cacheControlMode="NoControl" cacheControlMaxAge="20.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>